* {
	font-family: Arial, sans-serif;
	box-sizing: border-box;
	margin: 0;
	transition: all 0.3s ease-in-out;
}

body, html {
	height: 100%;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

/* Header Section */
header {
	height: 70px;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-logo {
	color: #3f51b5;
	margin: 0 0 10px 50px;
}

.header-logo h3 {
	font-size: 32px;
}

.header-logo p {
	font-size: 12.8px;
	margin-left: 3px;
	color: #4A4A4A;
}

header:hover {
	cursor: default;
}

button {
	height: 40px;
	width: 90px;
	font-size: 0.95rem;
	font-weight: 600;
	border-radius: 20px;
	color: #ffffff;
	background-color: #3f51b5;
	border: none;
}

button:hover {
	color: #3f51b5;
	border: 2px solid #ffc107;
	background-color: #f0f4ff;
	box-shadow: 0 2px 6px rgba(63, 81, 181, 0.2);
	cursor: pointer;
}

header a {
	color: #1C1C1C;
	text-decoration: none;
	font-size: 1.1rem;
	font-weight: 500;
	margin: 0 20px 0 10px;
	padding: 0 20px 0 5px;
	border-radius: 6px;
}

header a:hover {
	background: #f0f4ff;
	color: #3f51b5;
	box-shadow: 0 2px 6px rgba(63, 81, 181, 0.2);
	cursor: pointer;
}

section nav {
	display: flex;
	color: #1c1c1c;
}

header section {
	height: 40px;
	display: flex;
	align-items: flex-end;
	margin: 0 20px 10px 0;
}

.headerProfile {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background: white;
}

.hi {
	margin-right: 4px;
	height: 18px;
}

.header-button {
	display: flex;
	justify-content: space-between;
	width: 200px;
	margin-right: 50px;
}

/* Main Section */
main {
	background-color: #ffffff;
	color: #333333;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-img {
	height: 70vh;
	position: relative;
	background-image: url("4.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 90%;
	max-width: 1300px;
	margin: 50px auto;
	border-radius: 12px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.main-content {
	position: absolute;
	background: rgba(0, 33, 71, 0.5);
	color: white;
	border-radius: 5px;
	width: 800px;
	height: 300px;
	display: flex;
	flex-direction: column;
	margin: 130px 350px 0 0;
}

.main-content:hover {
	box-shadow: 0 2px 6px rgba(63, 81, 181, 0.2);
	cursor: pointer;
}

.mainContentH4 {
	text-align: right;
	font-size: 1.75rem;
	font-style: italic;
}

.mainContentP {
	text-indent: 50px;
	margin-left: 15px;
	text-align: left;
	font-size: 1.02rem;
}

.mainContentButton {
	margin: 30px 0 10px 30px;
	height: 50px;
	width: 200px;
	border-radius: 40px;
	border: 1px solid gold;
	color: #ffc107;
	background-color: transparent;
}

.mainContentButton:hover {
	color: darkblue;
	border: 2px solid darkblue;
	background-color: #f7f7f7;
	box-shadow: 0 2px 6px rgba(63, 81, 181, 0.2);
	cursor: pointer;
}

.home {
	margin: 50px 0px 0px 0px;
	background: #6C7A89;
	border-radius: 10px;
	width: 80%;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mainWelcome {
	color: #FFC107;
	margin-bottom: 30px;
	font-size: 2.4rem;
	font-weight: 700;
	width: 900px;
	display: flex;
	justify-content: center;
}

.userName {
	text-indent: 10px;
}

.section-hr {
	border: 1px solid #CCCCCC;
	width: 80%;
	margin: 0 10% 20px 10%;
}

.mainNotifications {
	margin-top: 10px;
	height: 130px;
	width: 900px;
	display: flex;
	justify-content: space-around;
}

.mainBox {
	text-align: center;
	background: #ffffff;
	border: 2px solid #E0E0E0;
	border-radius: 10px;
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mainBox:hover {
	border: 1px solid #3F51B5;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	background: #F0F4FF;
	color: gold;
}

.mainBox h4 {
	color: #1C1C1C;
	margin-top: 10px;
	font-size: 1.25rem;
}

.mainBox hr {
	width: 80%;
	margin: 10px auto;
	border: 1.5px solid gray;
}

main h3 {
	color: #001b3a;
}

main a {
	color: #002147;
}

main a:hover {
	color: #ffd700;
}

.section-box {
	height: 80px;
	width: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.event-count {
	font-size: 2.3rem;
	font-weight: 700;
}

.countBox1 {
	margin-left: 15px;
	color: #3F51B5;
}

.countBox2 {
	padding-right: 15px;
	color: #333333;
}

/* Alumni Directory */
.alumniDirectory {
	width: 80%;
	text-align: left;
}

.alumniDirectory-h1 {
	color: #1C1C1C;
	font-size: 1.75rem;
	font-weight: 700;
	margin: 20px 0 20px 10px;
}

.alumniDirectory-hr {
	width: 80%;
	height: 10px;
	border: none;
	background-image: linear-gradient(to right, #002B5B 80%, #FFC107, #f5f5f5);
	margin-left: 10px;
}

.directoryContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.searchBar {
	width: 610px;
	height: 40px;
	background: #ffffff;
	display: flex;
	margin: 30px 0 20px;
	border-radius: 30px;
	border: 2px solid #002B5B;
	transition: all 0.3s ease;
}

.searchBar:hover,
.searchBar:focus {
	border-color: #FFC107;
	box-shadow: 0 0 10px rgba(0, 43, 91, 0.2);
}

.searchBox {
	width: 560px;
	height: 35px;
	border: none;
	outline: none;
	text-align: center;
	border-radius: 30px 0 0 30px;
	font-size: 1.1rem;
	color: #333;
}

.searchBox::placeholder {
	color: #888888;
	font-size: 1rem;
}

.searchIcon {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 30px 30px 0;
	color: #FFD600;
	width: 40px;
	font-size: 1.5rem;
}

/* Alumni Favorites */
.alumni-favorites {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center; 
	gap: 20px; 
}



.favorite-alumni {
	padding: 15px;
	border: 1px solid #D3D3D3;
	border-radius: 12px;
	height: 150px;
	width: 250px;
	color: #1c1c1c;
	transition: 0.3s ease-in-out;
}


.favorite-alumni:hover {
	border: 1px solid #3F51B5;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	background: #F0F4FF;
}

/* Footer */
footer {
	height: 10vh;
	background-color: #1B1F3B;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #F5F6FA;
}

footer:hover {
	cursor: default;
}

footer a {
	color: #f5f5f5;
	font-size: 1.5rem;
	margin-left: 15px;
}

footer a:hover {
	color: #ffc107;
}

.footer-copyRight {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.footer-p2 {
	font-size: 0.7rem;
}

.footer-p3 {
	margin-bottom: 20px;
}

.footer-a {
	font-size: 0.8rem;
}

.footer-logo {
	margin-left: 30px;
}

.footer-link {
	color: #FFFFFF;
	margin-right: 30px;
	display: flex;
	justify-content: space-evenly;
}

.footer-h3 {
	font-size: 1.2rem;
}

.footer-p1 {
	font-size: 0.5rem;
}


/* Tablets (768px to 1024px) */
@media screen and (max-width: 1024px) {
  .header-logo h3 {
    font-size: 26px;
  }

  .main-content {
    width: 90%;
    height: auto;
    margin: 100px auto 0 auto;
  }

  .mainWelcome {
    font-size: 1.8rem;
    width: 100%;
  }

  .mainNotifications, .section-box {
    flex-direction: column;
    align-items: center;
  }

  .mainBox {
    width: 80%;
    margin-bottom: 20px;
  }

  .searchBar {
    width: 90%;
  }

  .searchBox {
    width: 80%;
  }

  .alumni-favorites {
    justify-content: center;
  }

  .favorite-alumni {
    width: 80%;
  }

  .header-button {
    flex-direction: column;
    width: auto;
    margin-right: 10px;
  }
}

/* Mobile devices (<= 768px) */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 10px;
    align-items: flex-start;
  }

  .header-logo {
    margin: 0 0 10px 20px;
  }

  .header-button {
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
    gap: 10px;
  }

  .main-content {
    width: 90%;
    padding: 15px;
    margin: 50px auto;
    font-size: 0.9rem;
  }

  .mainContentH4 {
    font-size: 1.25rem;
    text-align: center;
  }

  .mainContentP {
    font-size: 0.95rem;
    text-align: justify;
  }

  .mainContentButton {
    width: 90%;
    margin: 20px auto;
  }

  .home {
    width: 95%;
    height: auto;
    padding: 20px 10px;
  }

  .mainWelcome {
    font-size: 1.6rem;
    text-align: center;
    width: 100%;
  }

  .mainNotifications {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .mainBox {
    width: 90%;
    margin-bottom: 20px;
  }

  .searchBar {
    width: 100%;
  }

  .alumniDirectory-h1 {
    font-size: 1.4rem;
    margin-left: 0;
    text-align: center;
  }

  .alumniDirectory-hr {
    margin: 10px auto;
  }

  .directoryContent {
    padding: 0 10px;
  }

  .favorite-alumni {
    width: 90%;
    height: auto;
  }

  footer {
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 15px;
  }

  .footer-link {
    flex-direction: column;
    margin: 10px 0;
  }
}
